body {
  padding: 0;
  margin: 0;
  background: url("../img/img-road.jpg") no-repeat;
  background-size: cover;
  width: 100%;
}
.box {
  background-color: rgba(0,0,0,0.3);
  width: 25%;
  height: 80%;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  border-radius: 15px;
  padding: 15px;
}
.box img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
}
.box h1 {
  color: #fff;
  font-size: 55px;
  font-weight: 100;
  margin: 10px;
}
.box h5 {
  color: #fff;
  white-space: pre-line;
  font-size: 20px;
  font-weight: 100;
  margin: 5px;
}
.box p {
  color: #fff;
  font-size: 15px;
  margin: 5px;
  margin-bottom: 50px;
  text-align: justify;
}
.box ul {
  font-size: 35px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
  align-items: center;
}
.box ul li {
  list-style: none;
}
.box ul li a {
  color: #fff;
  font-size: 45px;
  text-decoration: none;
  transform: all ease-in-out 300ms;
}
.box ul li a:hover {
  color: #000;
}
/* 指针划过变灰色动画 */
